.mySwiper {
  padding: 1rem;
}
.swiper-slide {
  width: fit-content;
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #ff5959 !important;
}
.slick-dots.slick-dots-bottom {
  bottom: -10px !important;
}

.slick-dots.slick-dots-bottom li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important; /* Làm tròn dot */
  background: #696969 !important;
}
.slick-dots.slick-dots-bottom .slick-active button {
  background: #ff5959 !important;
  width: 12px !important;
  height: 12px !important;
}
.custom-select {
  border: 1px solid #ff5959 !important;
  border-radius: 20px !important;
}

.ant-select-selector {
  border: 0 !important;
  border-radius: 20px !important;
}

.ant-table-thead th {
  font-size: 18px !important;
  color: #626161 !important;
  text-align: left !important;
}

.custom-table .ant-table-thead th {
  border-bottom: 3px solid #b0aaaa !important;
}

.ant-checkbox .ant-checkbox-inner {
  border: 2px solid #ff5959 !important;
}

/* Đổi màu nền khi checkbox được chọn */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff5959 !important; /* Màu nền khác (ví dụ: đỏ) */
  border-color: #ff5959 !important; /* Màu viền cùng màu nền */
}

/* Đổi màu nền khi hover vào checkbox */
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border: 2px solid #ff5959 !important; /* Màu viền khi hover */
}

/* Tùy chỉnh kích thước checkbox nếu cần */
.ant-checkbox-inner {
  width: 20px !important; /* Đặt kích thước checkbox */
  height: 20px !important;
}

.ant-btn.css-dev-only-do-not-override-49qm.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-lg.disable-button {
  background-color: #827e7e !important;
}

.ant-table-row.ant-table-row-level-0.ant-table-row-selected {
  background: white !important;
}
:where(.css-dev-only-do-not-override-49qm).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background: white !important;
}
:where(.css-dev-only-do-not-override-49qm).ant-checkbox-indeterminate
  .ant-checkbox-inner:after {
  background-color: #ff5959 !important;
}

.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  color: black !important;
  width: 170px !important;
  text-align: center !important;
  font-size: 18px !important;
}
.ant-tabs {
  margin-bottom: 50px !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
  color: black !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: black !important;
}

.custom-input .ant-form-item .ant-form-item-control-input {
  border: 0 !important;
}
.custom-input .ant-form-item .ant-form-item-control-input .ant-input-outlined {
  border-bottom: 3px solid #ff5959 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0;
  font-size: 16px !important;
}
.custom-input
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-outlined:focus {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.custom-input
  .ant-form-item
  .ant-form-item-control-input
  .ant-input-outlined
  .ant-input {
  font-size: 16px !important;
}
.custom-input
  .ant-form-item
  .ant-form-item-control:first-child:not([class^="'ant-col-'"]):not(
    [class*="' ant-col-'"]
  ) {
  border-bottom: 3px solid #ff5959 !important;
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background: #ff5959 !important;
}
.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled) {
  background: #ff5959 !important;
  width: 200px !important;
  height: 50px !important;
  border-radius: 99px !important;
  margin: 0 auto !important;
}

.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-form-item-label
  > label,
.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-col-24.ant-form-item-label
  > label,
.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-col-xl-24.ant-form-item-label
  > label {
  font-size: 16px !important;
  font-weight: 500 !important;
}
