@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
