@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ant-modal-content {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
  border-radius: 40px !important;
}
.ant-modal-content .ant-modal-title{
  text-align: center !important;
  padding-top: 12px !important;
  font-size: 18px !important;
}
.ant-modal-header{
  border-radius: 40px !important;
  display: none;
}
.ant-modal {
  width: fit-content !important;
  height: 200px !important;
  padding: 0 !important;
  border-radius: 40px !important;
}
